# Mailchimp footer signup form
# Get the form action URL from Mailchimp's embedded signup form code.
PUBLIC_MAILCHIMP_SUBSCRIBE_URL=https://YOUR_DC.list-manage.com/subscribe/post?u=YOUR_AUDIENCE_HASH&id=YOUR_FORM_ID
# In Mailchimp's form code, this is the numeric value of the hidden "tags" field.
PUBLIC_MAILCHIMP_FOOTER_TAG_ID=YOUR_NUMERIC_TAG_ID
